# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/

# Environment
.env

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
.DS_Store

# Exports
exports/
.vercel
.env.local
.env*
